<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src={{Character.img}} class="card-img" alt="...">
      </div>

     

        <div class="col-md-8 "item-align="center">
            <div class="card-body">
              <h5 class="card-title">{{Character.name}}</h5>
              <p class="card-text">Date of birth : {{Character.birthday}}</p>
              <p class="card-text"><small class="text-muted">Season appeard :{{Character.appearance}}</small></p>
              <p class="card-text"><small class="text-muted">status :{{Character.status}}</small></p>
              <p class="card-text"><small class="text-muted">Occupation :{{Character.occupation}}</small></p>
            </div>
          </div>


    </div>
    <a routerLink="/details"><button type="button" class="btn btn-primary" >back</button> </a>
  </div>