<!-- <div class="card mb-3" style="max-width: 540px;" item-align="center">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src={{Character.img}} class="card-img" alt="...">
      </div>

     

        <div class="col-md-8 ">
            <div class="card-body">
              <h5 class="card-title">{{Character.name}}</h5>
              <p class="card-text">Date of birth : {{Character.birthday}}</p>
              <p class="card-text"><small class="text-muted">Season appeard :{{Character.appearance}}</small></p>
              <p class="card-text"><small class="text-muted">status :{{Character.status}}</small></p>
              <p class="card-text"><small class="text-muted">Occupation :{{Character.occupation}}</small></p>
            </div>
          </div>


    </div>
    <a routerLink="/details"><button type="button" class="btn btn-primary" >back</button> </a>
  </div> -->


  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{Character.name}}</h5>
          <button
            type="button"
            class="btn-close"
            data-mdb-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <img src={{Character.img}} class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{Character.name}}</h5>
            <p class="card-text">Date of birth : {{Character.birthday}}</p>
            <p class="card-text"><small class="text-muted">Season appeard :{{Character.appearance}}</small></p>
            <p class="card-text"><small class="text-muted">status :{{Character.status}}</small></p>
            <p class="card-text"><small class="text-muted">Occupation :{{Character.occupation}}</small></p>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>