

 <ul class="list-group" style="background-color: red;">
  <li *ngFor="let char of characters" (click)="selectCharecter(char)" >
    {{ char.name }}
  </li>
 </ul>

 <div>
   {{selectedCharecter | json}}

   {{selectedCharecter.name}}
   
 </div>



 <div class="center">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">An active item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>
</div>




{{selectedCharecter.img}}
<div class="row">
<div class="card" style="width: 18rem;">

  <img class="card-img-top" src={{selectedCharecter.img}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{selectedCharecter.img}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
 