.block {
  height: 0;
  border-radius: 4px;
  background: #fff;
  padding: 50%;
  box-shadow: 0 2px 55px rgba(0,0,0,0.1);
  position: static;
  margin-top: 0%;
  width: 50%; 
  
}
body {
  font-family: "Lato", sans-serif;
}
  /* Style the image inside the centered container, if needed */


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-left:0px ;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.position{
  position: absolute;
  top: 1ch;
  left: 0;
  color: #111;

}
ol{
  color: whitesmoke;
  text-decoration: yellow;
  text-shadow: yellow;
}
a{
  text-align: center;
  color: #111;
  text-size-adjust: 18px;
  text-decoration-thickness: 100px;
  text-justify: auto;
}
.card{
  justify-content: space-between;
  scroll-padding: 3px;
}
img{
  width: 100%;
  height: 100%;
}
.row{
  padding-top: 5rem;
  
}
.card-body{
  width: 100%;
  height: 70%;
 
}


